
  <mat-list class="navbar-nav">
    <mat-list-item [routerLink]="['/home']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon matListItemIcon class="icon--1">home</mat-icon>
      <div matListItemTitle>{{"NABVAR.item1" | translate}}</div>
    </mat-list-item>
    <mat-list-item  [routerLink]="['/users']"  class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  *ngxPermissionsOnly="['ADMIN']">
      <mat-icon matListItemIcon class="icon--2">people</mat-icon>
      <div matListItemTitle>{{"NABVAR.item2" | translate}}</div>
    </mat-list-item>
    <mat-list-item  [routerLink]="['/record']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngxPermissionsOnly="['ADMIN']" >
      <mat-icon matListItemIcon class="icon--3">history</mat-icon>
      <div matListItemTitle>{{"NABVAR.item3" | translate}}</div>
    </mat-list-item>
  </mat-list>
