<div class="">
<div class="cont__btn">
  <button mat-raised-button class="cont__btn--1" (click)="enviar()">
    {{"HOME.form.button.btn1" | translate}}
    <mat-icon>save</mat-icon>
  </button>
  <button mat-raised-button class="cont__btn--2" (click)="cancel()">
    {{"HOME.form.button.btn2" | translate}}
    <mat-icon>close</mat-icon>
  </button>
</div>
  <form
[formGroup]="formu"
class="table-responsive">
<table class="table table-bordered" >
<thead class="table-dark">
<tr>
    <th >{{"HOME.form.table.section1.title" | translate}}</th>
    <th >{{"HOME.form.table.section2.title" | translate}}</th>
    <th >{{"HOME.form.table.section3.title" | translate}}</th>
    <th >{{"HOME.form.table.section4.title" | translate}}</th>
  </tr>
</thead>
<tbody formArrayName="horario">
  <tr *ngFor="let item of getCtrl('horario', formu)?.controls; index as indexFormChildPrice"
  [formGroupName]="indexFormChildPrice"
  >
  <td align="center" class="p-1">
        <ngx-timepicker-field [format]="24" [defaultTime]="'00:00'" formControlName="start_time" ></ngx-timepicker-field>
        <mat-error *ngIf="item.get('start_time')?.errors">
        * Invalido
        </mat-error>
    </td>
    <td align="center" class="p-1">
      <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>{{"HOME.form.table.section2.input" | translate}}</mat-label>
        <mat-select style="position: relative;" formControlName="tipo" name="tipo">
          <mat-option  z-index="1056" *ngFor="let timbre of tipo " [value]="timbre?.cod">
            {{timbre?.cod}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td align="center">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>{{"HOME.form.table.section3.input" | translate}}</mat-label>
        <mat-select style="position: relative;" formControlName="sonara" name="sonara">
          <mat-option  z-index="1056" *ngFor="let sonara of sonara " [value]="sonara?.cod">
            {{sonara?.cod}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </td>
    <td class="p-1" align="center">
      <button (click)="delHora(indexFormChildPrice)" type="button" mat-mini-fab class="btn__delete" ><mat-icon >delete</mat-icon></button>
    </td>
  </tr>
</tbody>
</table>
<div class="d-grid p-0 my-0 " style="width: 100%!important;">
<button
    (click)="addHora()"
    type="button" mat-button class="btn mb-2"  style="background-color: rgb(0, 255, 238);"
    type="button" >
    <i class="fa-solid fa-plus"></i>{{"HOME.form.button.btn3" | translate}}
</button>
</div>
</form>
</div>
